<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <azureBuildVerifier>
        <processor type="AzureBuildVerifier.Processors.Sharknado.ArtifactsPipelineProcessor, AzureBuildVerifier"/>
      </azureBuildVerifier>
    </pipelines>
  </sitecore>
</configuration>